<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<ul *ngFor = "let nomeFiltro of nomesFiltro">
  <li>
    {{nomeFiltro}}
  </li>
</ul>
<p *ngIf = "nomes.lenght == 0"> Nenhum nome encontrado, usando *ngIF</p>
<p [hidden] = "nomes.lenght > 0" > Nenhum nome encontrado, usando hidden</p>
