<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<ul *ngFor = "let nome of nomes, let i = index">
  <li>
    nome da pessoa é: {{nome}}, está na posição {{i + 1}}
  </li>
</ul>
<p> Salario total: {{getValorTotal()}}</p>
<p *ngIf = "nomes.lenght == 0"> Nenhum nome encontrado, usando *ngIF</p>
<p [hidden] = "nomes.lenght > 0" > Nenhum nome encontrado, usando hidden</p>
<input #box placeholder="digite um nome" (keyup) = "buscar(box.value)"/>
<ul *ngFor = "let nomeFiltro of nomesFiltro">
  <li>
    {{nomeFiltro}}
  </li>
</ul>
<input #parametroid placeholder="digite um id"/>
<button (click) = "retorno = buscarId(parametroid.value)">Buscar id</button>
<p *ngIf="retorno !=undefined">{{retorno.id}} - {{retorno.nome}}</p>
